@{
    ViewBag.Title = "Home Page";
}
@model IList<Scheduler.Models.Task>
<p>

    @{ 

        var mymodel = Model;
        var title = mymodel[0].Title;
        var description = mymodel[0].Description;

    }
    title
    description
</p>